<div class="container-fluid">
    <div class="row BorderYes1">
        <side-bar class="BorderYes1"
            [m_invoiceNumber] = "m_invoiceDetail.InvoiceNumber"
            (sideBarClick) = "sideBarClickHandled($event)">
        </side-bar> <!-- $event is a part of syntax, cannot be renamed to anything else -->
        <div class="BorderB1" style="position: relative; width:80%"> 
            <h2 class="sub-header">{{m_invoiceDetail.InvoiceNumber}}</h2>
            <h5>{{m_invoiceDetail.Description}}</h5>
            <h5>Office : {{m_invoiceDetail.ModifiedDate | date : 'mediumDate'}}</h5>
            <h5>Path : {{m_invoiceDetail.SiteId}}</h5>
            <invoice-lineItems class="col-md-6 main"
                        *ngIf="m_currentComponentName == 'LineItems'"
                        [m_invoiceDetail] = "m_invoiceDetail"
                        [m_products] = "m_products"
                        (onProductChanged) = "OnProductChangedHandler($event)"></invoice-lineItems>
            <invoice-payments class="col-md-6 main"
                        *ngIf="m_currentComponentName == 'Payments'"
                        [m_invoiceDetail] = "m_invoiceDetail"></invoice-payments>
            <invoice-providers class="col-md-6 main"
                        *ngIf="m_currentComponentName == 'Providers'"
                        [m_invoiceDetail] = "m_invoiceDetail"></invoice-providers>
        </div>
    </div>
</div>
