/* app css stylesheet */

.hoverwell:hover {
  background-color: #485563;
  cursor: pointer;
}

.container {
  padding-top: 10px;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}

.BorderYes{
  border:1px solid red
}

.BorderNo{
  border:0px solid red
}
.upperRight{
  position:relative;
  top:0;
  right:0%;
}
.pnavbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.BorderG{
  border:1px solid green
}

.BorderY{
  border:1px solid yellow
}

select{
  background-color: #485563;
  color: white;
}